################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Blockchain/.vs/Blockchain.slnx/FileContentIndex
/Blockchain/.vs
/Blockchain/.vs
/Blockchain/.vs
/Blockchain/.vs/Blockchain.slnx
