################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Blockchain/.vs/Blockchain.slnx/FileContentIndex
/Blockchain/.vs
/Blockchain/.vs/Blockchain.slnx
/Blockchain/.vs/Blockchain.slnx/v18
# Visual Studio files
.vs/
[Oo]bj/
[Bb]in/

# User-specific files
*.user
*.userosscache
*.sln.docstates


.idea/
*.sln.iml
*.csproj.iml
*.DotSettings.user
TestResults/
